body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  height: 80%;
  min-width: 300px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
  color: #2b2e2e;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em 0;
  color: #2b2e2e;
}
