body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  height: 80%;
  min-width: 300px;
  background: #fff159;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #2b2e2e;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  font-size: 1.1em;
  height: 3em;
  line-height: 3;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25em;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #fff159;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
  color: #2b2e2e;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em 0;
  color: #2b2e2e;
}
